# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build artifacts
dist/
build/
coverage/

# Packer artifacts
.packer_cache/
.packer_plugins/
packer/*.img
packer/*.iso
*.img
*.iso
